<ng-template #err><app-error404 [errorMessage]="'The hero is not found'"></app-error404></ng-template>

<div *ngIf="isLoading && !isError">The hero is loading</div>
<section *ngIf="!isError; else err" class="hero">
  <h2 class="hero__title">{{hero.name | uppercase}} Details</h2>
  <div class="hero__wrapper">
    <div class="hero__id">id: {{hero.id}}</div>
    <label class="hero__label" for="name">Hero name:&nbsp;</label>
    <input class="hero__input" type="text" id="name" [maxlength]="maxNameLength" [(ngModel)]="hero.name" (ngModelChange)="onNameChange()">
  </div>
  <button (click)="goToPreviousPage()" class="hero__back">Back</button>
</section>
