.dashboard {

  &__wrapper {
    margin-top: 20px;
    display: flex;
  }
  &__item {
    margin: 0 5px 0 5px;
    padding: 10px;
    max-width: 500px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #3f525c;
    color: white;

    transition: all 0.6s;
    cursor: pointer;
    &:hover {
      background-color: black;
    }
  }
}
